{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["react-css-modules", {
      "filetypes": {
        ".scss": {
          "syntax": "postcss-scss",
          "plugins": [
            "postcss-nested"
          ]
        }
      }
    }],
    "@babel/plugin-proposal-class-properties"
  ],
  "minified": true
}