body {
    min-height: 100vh;
}

.chess-board {
    display: grid;
    position: relative;
    overflow: hidden;
    user-select: none;

    .react-draggable {
        position: relative;
        z-index: 0;

        &-dragged {
            z-index: 9999;
        }
    }

    svg {
        max-width: 100%;
    }

    &-square {
        position: relative;

        &--light {
            background-color: #f0d9b5;
        }

        &--dark {
            background-color: #b58863;
        }

        &--highlighted {
            background-color: #F7EC7F;
        }
    }

    &-coordinate {
        position: absolute;
        font-size: .75rem;
        font-weight: bold;

        &--row {
            top: 2px;
            left: 2px;
        }

        &--column {
            bottom: 2px;
            right: 2px;
        }
    }
}